.button-field {
    background-color: grey;
    border: 2 px;
    border-color: brown;
    color: white;
    width: 4cm;
    height: 4cm;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1cm;
    border-radius: 7px;
    margin: 2px;
}

.inline-div {
    display: inline;
}