<div class = "bar">Welcome to the game portal test</div>

<div class = "thumbnail-bar">
	<div class = "thumbnail-item">
		<a><img src="./assets/sudoku-thumbnail.PNG" alt="sudoku" (mouseenter)="createSudokuInfo()" (mouseleave)="clearInfo()"/></a>
		<div class = "button-box">
   			<button class="play-sudoku" (click)="playSudoku()">Play</button>
		</div>
	</div>
	<div class = "thumbnail-item">
		<a><img src="./assets/tictactoe-thumbnail.PNG" alt="thumbnail" (mouseenter)="createTicTacToeInfo()" (mouseleave)="clearInfo()"/></a>
		<div class = "button-box">
      		<button class="play-tictactoe" (click)="playTicTacToe()">Play</button>
		</div>
	</div>
</div>

<div class = "infobox" >{{description}}</div>